<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Example of Twitter Bootstrap 3 Horizontal Form Layout</title>
<link rel="stylesheet" href="{{asset('bundles/loginlogin/css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{ asset('bundles/loginlogin/css/bootstrap-theme.min.css')}}">
{%block JavaScript %}
    
{%endblock%}  

{%block StyleSheets %}


{%endblock%}

    
<script src="{{ asset('bundles/loginlogin/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/loginlogin/js/bootstrap.min.js') }}"></script> 

</head>
<body>

{%block main_container %}
    
{%endblock%}    
</body>
</html>                         		